/******** GLOBAL STYLES ********/
  /******Mobile styles here *********/
html {
   font-size: 16px;
}
body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	/***font-size: 16px;****/
	font-size: .9em;
	color: #000000;
}

/* The width property has been changed to max-width */

/******Start by setting a width to the .content-wrapper of 90%. Then to center the site, 
add display: flex; and justify-content: center; to the code blocks of the parent 
elements of the “content-wrapper”*******/

/****Center the child elements by adding justify-content: center;. Then add flex-flow: row wrap; 
to the .content-wrapper code block.******/

.content-wrapper {
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	/***margin: 0 auto;****/
	/****overflow: auto;*****/
}

h1,
h2,
h3,
h4 {
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	/***font-size: 30px;***/
	font-size: 1.875em;
}

h2 {
	/*****font-size: 24px;*****/
	font-size: 1.5em;
}

h3 {
	/****font-size: 20px;*****/
	font-size: 1.25em;
}

h4 {
	/*****font-size: 12px;****/
	font-size: 0.75em;
}

p {
	line-height: 36px;
	font-size: 1rem;
}

/******** HEADER STYLES ********/
/* The widths are in a percentage! */
header {
	/***height: 110px;****/
	/****margin: 0 auto;*****/
	display: flex;
	justify-content: center;
	text-align: center;
}

header h1 {
	/***float: left;****/
	margin: 0;
	padding: 38px 0 20px 0;
	width: 100%;
	border-bottom: 3px solid #77A466;
}

header h1 span {
	color: #45610E;
	font-size: 1.875rem;
}

header nav {
	/****float: right;*****/
	/***padding: 46px 0;****/
	padding: 20px 0;
}

header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

header nav ul li {
	/****display: inline-block;******/
	/***font-size: 14px;****/
	font-size: 0.875rem;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0 10px;
	margin: 20px 0;
	width: 100%;
}

header nav ul li a {
	text-decoration: none;
	color: #45610E;
}

/********  MAIN STYLES ********/
/******** TOP SECTION ********/
/* The widths are in a percentage! */

.top-section {
	display: flex;
	justify-content: center;
}

.main-image img {
	width: 100%;
	border-top: 3px solid #77A466;
	border-bottom: 3px solid #77a466;
}


.main-title h2 {
	color: #45610E;
	padding: 5px 0;
}

/******** BOTTOM SECTION ********/

.bottom-section {
	display: flex;
	justify-content: center;
}

.bottom-section .content-wrapper {
	border-top: 5px solid #EEE;
	border-bottom: 5px solid #EEE;
}

.section-one,
.section-two,
.section-three {
	box-sizing: border-box;
	/****float: left;*****/
	/***padding: 0 40px;****/
}

.section-one {
	/****width: 29%;***/
	width: 100%;
	padding-left: 15px;
}

.section-one  ul li {
	/****width: 29%;***/
	font-size: 0.875rem;
}

.section-two {
	/*****width: 42%;*****/
	width: 100%;
	/****border-left: 5px solid #EEE;*****/
	/*****border-right: 5px solid #EEE;*****/
}

.section-three {
	/****width: 29%;*****/
	width: 100%;
	padding-left: 15px;
}

.bottom-section h3 {
	margin: 30px 0;
}

.menu-list {
	padding-left: 0;
	list-style: none;
}

.menu-list li {
	color: #45610E;
	font-size: 16px;
	line-height: 36px;
}

/******** FOOTER STYLES ********/
/* The widths are in a percentage! */
footer {
	text-align: center;
	margin-top: 8px;
	display: flex;
	justify-content: center;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #45610E;
	/***font-size: 14px;****/
	font-size: 0.875rem;
}

/*******Tablet styles here **********/
@media all and (min-width: 768px) {
    .bottom-section {
		display: flex;
		justify-content: center;
	}
	
	.bottom-section .content-wrapper {
		/***border-top: 5px solid #EEE;***/
		/****border-bottom: 5px solid #EEE;****/
		justify-content: space-evenly;
	}
	
	.section-one,
	.section-two,
	.section-three {
		box-sizing: border-box;
		/****float: left;*****/
		/***padding: 0 40px;****/
	}
	
	.section-one {
		/****width: 29%;***/
		/****width: 100%;*****/
		width: 30%;
	}
	
	
	.section-two {
		/*****width: 42%;*****/
		/***width: 100%;*****/
		width: 40%;
		border-left: 5px solid #EEE;
		border-right: 5px solid #EEE;
		padding: 0 30px;
		/******border-top: 5px solid #EEE;****/
		/******border-bottom: 5px solid #EEE;******/
	}
	
	.section-three {
		/****width: 29%;*****/
		/****width: 100%;****/
		width: 30%;
	}
}
 
 /**********Desktop styles here *********/
@media all and (min-width: 1200px) {
	body {
		font-size: 1em;
	}

	header .content-wrapper {
		justify-content: space-between;
        align-items: center;
        padding: 20px 0;
	}

	header h1 {
		width: 30%;
		padding: 0;
		border-bottom: none;
		text-align: left;
	}

	header nav {
		/***width: 21%;*****/
		width: 21%;
	}

	header nav ul {
		display: flex;
		justify-content: space-between;
		/*** I thought I would have to use flex-flow: row wrap; 
		property in order to put the list items all in row ??? ****/
	}
}